<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>Front app</title>

    <!--<link rel="stylesheet" href="/stylesheets/vendor/bootstrap/bootstrap.css" /> -->
    <link rel="stylesheet" href="/stylesheets/vendor/angular-material/angular-material.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/reload-client.js"></script>

    <script src="/javascripts/vendor/requirejs/require.js" data-main="/javascripts/main.js"></script>

  </head>

  <body layout="vertical">
    <section layout="horizontal" flex>
        <md-sidenav class="md-sidenav-left  md-whiteframe-z2" component-id="left" is-locked-open="true">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Sidenav Left</h1>
            </md-toolbar>
            <md-content class="md-padding" layout="vertical">
                <md-button ui-sref="projects" class="md-primary">Projects</md-button>
                <md-button ui-sref="issues" class="md-primary">Issues</md-button>
            </md-content>
        </md-sidenav>
        <section ui-view>
           
        </section>
    </section>
    
  
  </body>
</html>